<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employees</title>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

	<div th:replace="~{top :: top}"></div>

	<div th:replace="~{sidebar :: sidebar}"></div>

	<!-- Main Content -->
	<div class="main-content">


		<div class="dashboard-card">

			<h2>Edit Employee</h2>
			<span th:text="${error}" class="error-message"></span>
			<form th:action="@{/ui/employee/{id}/update (id=${employee.id})}"
				method="post" th:object="${employee}">
				<table>
					<tr>
						<td th:if="${error} != null" colspan="2"><span
							style="color: red" th:text="'* '+${error}"></span></td>
					</tr>

					<tr>
						<td><label for="firstName">First Name</label> <input
							type="text" th:field="*{firstName}" required /></td>
						<td><label for="middleName">Middle Name</label> <input
							type="text" th:field="*{middleName}" /></td>
						<td><label for="lastName">Last Name</label> <input
							type="text" th:field="*{lastName}" /></td>
					</tr>
					<tr>
						<td><label for="identity">Identity Card Number</label> <input
							type="text" th:field="*{identity}" /></td>
						<td colspan="2"><label for="mobile">Phone</label> <input
							type="text" th:field="*{mobile}" /></td>
					</tr>
				</table>

				<div class="form-actions">
					<button type="submit" class="btn green">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>