<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employees</title>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

	<div th:replace="~{top :: top}"></div>

	<div th:replace="~{sidebar :: sidebar}"></div>

	<!-- Main Content -->
	<div class="main-content">
		<div class="dashboard-card">
			<h2>Employee Payments</h2>
			<table>
				<tr>
					<td>
						<h3 th:text="${employee.getFullName()}"></h3>
						</h3>
					</td>
				</tr>
			</table>
			<a
				th:href="@{/ui/employee/payment/add (employeeId=${param.employeeId})}"
				class="btn green">+ Add</a>
			<table>
				<thead>
					<tr>
						<th>Payment Date</th>
						<th>Operation</th>
						<th>Fulfillment</th>
						<th>Salary</th>
						<th>Gross</th>
						<th>Tax</th>
						<th>PF Org</th>
						<th>PF Self</th>
						<th>PF</th>
						<th>Net</th>
						<th>Payment Method</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="empPay : ${employeePayments}">
						<td style="display: none" th:text="${empPay.id}">1</td>
						<td th:text="${empPay.paymentDate}"></td>
						<td th:if="${empPay.assignment != null}"
							th:text="${empPay.assignment.operationProficiency.operation.name}+' - '+${empPay.assignment.operationProficiency.capability}"></td>
						<td th:unless="${empPay.assignment != null}">Assignment
							Deleted</td>
						<td th:if="${empPay.assignment != null}"
							th:text="${empPay.assignment.actualCapabilityAcheivedInPercent}">%</td>
						<td th:unless="${empPay.assignment != null}">Assignment
							Deleted</td>
						<td th:text="${empPay.employeeSalary.salary}"></td>

						<td th:text="${empPay.amount}"></td>
						<td th:text="${empPay.tax}"></td>
						<td th:text="${empPay.pfEmployee}"></td>
						<td th:text="${empPay.pfEmployer}"></td>
						<td th:text="${empPay.totalPf}"></td>
						<td th:text="${empPay.netSalary}"></td>
						<td th:text="${empPay.paymentMode}"></td>
						<td class="actions"><a
							th:href="@{/ui/employee/payment/edit (employeeId=${empPay.employee.id}, employeePaymentId=${empPay.id})}"
							class="btn blue">Edit</a></td>
						<td><a
							th:href="@{/ui/employee/payment/delete (employeeId=${empPay.employee.id}, employeePaymentId=${empPay.id})}"
							class="btn red">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<a class="btn blue" th:href="@{/ui/employee}">Back</a>
	</div>

</body>
</html>
