<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employees</title>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

	<div th:replace="~{top :: top}"></div>

	<div th:replace="~{sidebar :: sidebar}"></div>

	<!-- Main Content -->
	<div class="main-content">
		<div class="dashboard-card">
			<h2>Employees</h2>
			<a th:href="@{/ui/employee/add}" class="btn green">+ Add</a>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Identity</th>
						<th>Mobile</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="emp : ${employees}">
						<td style="display: none" th:text="${emp.id}">1</td>
						<td
							th:text="${emp.firstName}+' '+${emp.middleName}+' '+${emp.lastName}"></td>
						<td th:text="${emp.identity}"></td>
						<td th:text="${emp.mobile}"></td>
						<td class="actions"><a
							th:href="@{/ui/employee/edit (employeeId=${emp.id})}"
							class="btn blue">Edit</a> <a
							th:href="@{/ui/employee/salary (employeeId=${emp.id})}"
							class="btn green">Wages</a> <a
							th:href="@{/ui/employee/payment (employeeId=${emp.id})}"
							class="btn green">Payments</a> <a
							th:href="@{/ui/employee/delete (employeeId=${emp.id})}"
							class="btn red">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>
