<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employee Manager</title>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

	<div th:replace="~{top :: top}"></div>


	<div th:replace="~{sidebar :: sidebar}"></div>

	<div class="main-content">
		<a class="weatherwidget-io"
			href="https://forecast7.com/en/23d8391d29/agartala/"
			data-label_1="AGARTALA" data-label_2="WEATHER" data-days="3"
			data-theme="original">AGARTALA WEATHER</a>
		<script>
			!function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = 'https://weatherwidget.io/js/widget.min.js';
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document, 'script', 'weatherwidget-io-js');
		</script>
		<div class="dashboard-card">
			<h3>Welcome!</h3>
			<p>Your financial overview appears here.</p>
		</div>
	</div>

</body>
</html>
