<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Function Capabilities</title>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<div th:replace="~{top :: top}"></div>

	<div th:replace="~{sidebar :: sidebar}"></div>

	<!-- Main Content -->
	<div class="main-content">
		<div class="dashboard-card">
			<h2>Operation Proficiency</h2>
			<a
				th:href="@{/ui/operation/operation-proficiency/add (operationId=${param.operationId})}"
				class="btn green">+ Add</a>
			<table>
				<thead>
					<tr>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Function</th>
						<th>Capability</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="fcb : ${operationProficiencies}">
						<td style="display: none" th:text="${fcb.id}"></td>
						<td th:text="${fcb.startDate}"></td>
						<td th:text="${fcb.endDate}"></td>
						<td th:text="${fcb.operation.name}"></td>
						<td th:text="${fcb.capability}"></td>
						<td class="actions"><a class="btn blue"
							th:href="@{/ui/operation/operation-proficiency/edit (operationId=${fcb.operation.id}, operationProficiencyId=${fcb.id})}">Edit</a>
							<a class="btn red"
							th:href="@{/ui/operation/operation-proficiency/delete (operationId=${fcb.operation.id}, operationProficiencyId=${fcb.id})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div align="center">
			<a class="btn green" th:href="@{/ui/operation}">Back</a>
		</div>
	</div>


</body>
</html>
